@import url('https://fonts.googleapis.com/css2?family=Bree+Serif:100,200,300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@700&display=swap');
/*-------------------------------------------------------Colors---*/

/*-------------------------------------------------------Heading---*/

.featured {
    font-family: 'Glegoo', serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
}

.acts {
    text-align: center;
}

/*-------------------------------------------------------Map--------*/

@media(min-width: 992px) {
    .center-form {
    padding-top: 30px;
    min-height: 240px;
    margin: 0 auto;
    max-width: 50%;
    }

    div#map {min-height: 360px;}

}

/*-------------------------------------------------------------------Footer-----*/

.social-links {
    padding-top: 20px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50px;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #7ab6df;
}

.subscribe-bar {
    display: inline-block;
    text-align: center;
}

.events_box {
    display: inline-block;
    margin: 0 auto;
}

.heading {
    font-size: 30px;
    padding: 16px 0;
    color: #444;
    text-align: center;
}

.page-left-right {
    text-align: center;
    display: inline;
}

.open-button {
  background-color: #555;
  color: #fafafa;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 200px;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}


.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

 .form-container{
  max-width: 300px;
  padding: 10px;
  background-color: black;
  color: #fafafa;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/*--------------------------------------------------------------Ticketmaster Widget*/

.ticket-master {
    display: inline-block;
    margin: 0 auto;
    min-width: 100%;
}

@media(min-width:375px) {
    .ticket-master {
        max-width: 350px;
    }
}
